body{
  background: #000;

}
h1{
  font-family: Arial, Verdana, Tahoma;
  color:#cfb9fb;
  text-align: center;
}

.container{
  width: 1080px;
  height: 420px;
  padding: 20px;
  border:solid 1px #999;
  margin: auto;
  background-color: #ffe7f3;
}
#slider{
  position: relative;
  width: 950px;
  height: 400px;
  padding: 10px;
  background-color: #f6ccfb;
  margin: 0 auto;
}
img{
  width: 940px;
  height: 350px;
}
#slider > div{
  position: absolute;
  width: 100%;
  height: 100%;
}
